<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="icon" href="~/images/favicon.png" sizes="32x32" />
    <title>@ViewBag.Title - AxonAccess</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    @Styles.Render("~/Template/css")
    <style>
        .dl-horizontal {
            display: inline-block;
        }
    </style>
</head>

<body class="nav-md" >

    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/images/favicon.png" alt="..." class="img-circle profile_img">
                        </div>

                        <div class="profile_info">
                            <span>Bienvenido,</span>

                            <h2>@User.Identity.Name</h2>

                        </div>
                    </div>

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>

                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-edit"></i> Gestion de Usuarios <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">

                                        <li>@Html.ActionLink("Lista de usuarios", "Lista", "Usuario", new { area = "" }, new { @class = "mr-lg-4 mr-3" })</li>
                                        <li>@Html.ActionLink("Crear nuevo usuario", "Create", "Usuario", new { area = "" }, new { @class = "mr-lg-4 mr-3" })</li>
                                        <li>@Html.ActionLink("Carga Masiva", "CargaMasiva", "Usuario", new { area = "" }, new { @class = "mr-lg-4 mr-3" })</li>

                                    </ul>
                                </li>

                                <li>
                                    <a><i class="fa fa-building-o"></i> Gestion de Estamento <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">

                                        <li>@Html.ActionLink("Listado de Estamentos", "Index", "Mae_Entidad", new { area = "" }, new { @class = "mr-lg-4 mr-3" })</li>
                                        <li>@Html.ActionLink("Crear nuevo Estamento", "Create", "Mae_Entidad", new { area = "" }, new { @class = "mr-lg-4 mr-3" })</li>
                                        <li>@Html.ActionLink("Listado de Sucursales", "Index", "Mae_Sucursal", new { area = "" }, new { @class = "mr-lg-4 mr-3" })</li>
                                        <li>@Html.ActionLink("Crear nueva Sucursal", "Create", "Mae_Sucursal", new { area = "" }, new { @class = "mr-lg-4 mr-3" })</li>

                                    </ul>
                                </li>

                                <li>
                                    <a><i class="fa fa-lock"></i> Gestion de Accesos <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">

                                        <li>@Html.ActionLink("LIsta de Accesos por estamento", "Lista", "Mae_Puerta", new { area = "" }, new { @class = "mr-lg-4 mr-3" })</li>
                                        <li>@Html.ActionLink("Crear nuevo Acceso", "Index", "Mae_Puerta", new { area = "" }, new { @class = "mr-lg-4 mr-3" })</li>
                                        <li>@Html.ActionLink("Asignar Accesos", "Index", "Ref_UserAccess", new { area = "" }, new { @class = "mr-lg-4 mr-3" })</li>

                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-user"></i> Gestion personal <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Mis Datos", "Index", "Usuario", new { area = "" }, new { @class = "mr-lg-4 mr-3" })</li>

                                    </ul>
                                </li>

                                <li>
                                    <a><i class="fa fa-bar-chart-o"></i> Reportes <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("ReportesVentasPorFecha","Reportes")">Reporte de Ventas</a></li>
                                        <li><a href="@Url.Action("ReportesComprasPorFecha","Reportes")">Reporte de Compras</a></li>

                                    </ul>
                                </li>



                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="@Url.Action("LogOut","Auth")">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->


                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <!--Dropdown User-->
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/images/favicon.png" alt="">
                                    @User.Identity.Name
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">

                                    <li><a  href="@Url.Action("IndexRegistrado","Home")"><i class="fa fa-sign-out pull-right"></i> Inicio</a></li>

                                    <li><a href="@Url.Action("Logout","Auth")"><i class="fa fa-sign-out pull-right"></i> Cerrar sesión</a></li>
                                </ul>
                            </li>
                            <!--Dropdown User-->

                        </ul>

                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main" />

            @RenderBody()

        </div>
        <!-- /page content -->
        <!-- footer content -->
        <footer>
            <div class="pull-right">
                Axonia/AxonAccess 2020.</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>

    </div>
    @Scripts.Render("~/Content/js")
    @Scripts.Render("~/Template/js")
    @RenderSection("styles", required: false)
    @RenderSection("scripts", required: false)

</body>
</html>
