@using AxonAccessMVC.Models.Clases;
@model AxonAccessMVC.Models.Clases.Ref_Sucursal


@{
    ViewBag.Title = "Axonia";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/styles/css/style.css" rel='stylesheet' type='text/css' media="all">
    <link href="//fonts.googleapis.com/css?family=Saira+Condensed:400,500,600,700" rel="stylesheet">

</head>
<body>

    <div class="online-w3l-form">

        <form action="#" method="post">
            @Html.HiddenFor(p => p.id_sucursal)

            <div class="main">
                <div class="form-left-w3l">
                    @Html.TextBoxFor(p => p.direccion)
                </div>
                <div class="form-left-w3l">
                    @Html.TextBoxFor(p => p.descripcion)
                </div>
            </div>
            <div class="main">
                <div class="form-left-w3l">

                    @Html.TextBoxFor(p => p.latitud)
                </div>
                <div class="form-right-w3ls ">
                    @Html.TextBoxFor(p => p.longitud)
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-left-w3l">
                <select class="form-control buttom" @Html.DropDownListFor(p => p.id_comuna, new SelectList(ViewBag.comunas, "Id_Comuna", "desc_comuna"))</select>
            </div>
            <div class="main">
                <div class="form-left-w3l">
                    <select class="form-control buttom" @Html.DropDownListFor(p => p.id_empresa, new SelectList(ViewBag.empresas, "Id_Empresa", "desc_empresa"))</select>
                </div>
                <div class="form-left-w3l">
                    <select class="form-control buttom" @Html.DropDownListFor(p => p.id_estado, new SelectList(ViewBag.estados, "Id_Estado", "desc_estado"))</select>
                </div>
            </div>

            <div class="btnn">
                <input type="submit" value="Registrar Sucursal">
            </div>
        </form>
    </div>

</body>
</html>
