@using AxonAccessMVC.Models.Clases;
@model AxonAccessMVC.Models.Mae_Sucursal

@{
    ViewBag.Title = "Axonia";
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/styles/css/style.css" rel='stylesheet' type='text/css' media="all">
    <link href="//fonts.googleapis.com/css?family=Saira+Condensed:400,500,600,700" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
</head>
<body>
    <div class="online-w3l-form">
        <form action="#" method="post">

            @{ List<Ref_Sucursal> sucursals = (List<Ref_Sucursal>)ViewBag.sucursals;}
            <div class="table-responsive">

                <table id="tablax" class="table" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id_Sucursal</th>
                            <th>Id_Estado</th>
                            <th>Id_Comuna</th>
                            <th>Id_Empresa</th>
                            <th>Desc_Empresa</th>
                            <th>Estamento</th>
                            <th>Pais</th>
                            <th>Direccion</th>
                            <th>Latitud</th>
                            <th>Longitud</th>
                            <th>Descripcion</th>
                            <th>Accion</th>
                            <th>Accion</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var sucursal in sucursals)
                        {

                            <tr>
                                <td>@sucursal.id_sucursal</td>
                                <td>@sucursal.id_estado</td>
                                <td>@sucursal.id_comuna</td>
                                <td>@sucursal.id_empresa</td>
                                <td>@sucursal.desc_empresa</td>
                                <td>@sucursal.desc_estamento</td>
                                <td>@sucursal.desc_pais</td>
                                <td>@sucursal.direccion</td>
                                <td>@sucursal.latitud</td>
                                <td>@sucursal.longitud</td>
                                <td>@sucursal.descripcion</td>
                                <td>@Html.ActionLink("Eliminar", "Delete", new { id = sucursal.id_sucursal })</td>
                                <td>@Html.ActionLink("Modificar", "Edit", new { id = sucursal.id_sucursal })</td>
                            </tr>
                        }
                    </tbody>
                </table>
                @{

                    if (@TempData.Count > 0)
                    {
                        <script type="text/javascript">
                    var texto = ' @TempData["mensaje"]';
                    swal({
                        title: '',
                        text: texto,
                        type: 'success'
                    });

                        </script>
                    }
                }

            </div>
        </form>
    </div>
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous">
    </script>
    <!-- DATATABLES -->
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js">
    </script>
    <!-- BOOTSTRAP -->
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js">
    </script>
    <script>
        $(document).ready(function () {
            $('#tablax').DataTable({
                language: {
                    processing: "Tratamiento en curso...",
                    search: "Buscar&nbsp;:",
                    lengthMenu: "Agrupar de _MENU_ items",
                    info: "Mostrando del item _START_ al _END_ de un total de _TOTAL_ items",
                    infoEmpty: "No existen datos.",
                    infoFiltered: "(filtrado de _MAX_ elementos en total)",
                    infoPostFix: "",
                    loadingRecords: "Cargando...",
                    zeroRecords: "No se encontraron datos con tu busqueda",
                    emptyTable: "No hay datos disponibles en la tabla.",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Ultimo"
                    },
                    aria: {
                        sortAscending: ": active para ordenar la columna en orden ascendente",
                        sortDescending: ": active para ordenar la columna en orden descendente"
                    }
                },
                scrollY: 300,
                lengthMenu: [[5, 10, 20, 30, -1], [5, 10, 20, 30, "All"]],
                search: 1000
            });
        });
    </script>

</body>
</html>