@using AxonAccessMVC.Models.Clases;
@model List<string>
@{
    ViewBag.Title = "Axonia";

}
<!DOCTYPE html>
<html>
<head>
    <link href="~/styles/css/style.css" rel='stylesheet' type='text/css' media="all">
    <link href="//fonts.googleapis.com/css?family=Saira+Condensed:400,500,600,700" rel="stylesheet">
</head>
<body>
    <div class="online-w3l-form">
        <form action="~/Ref_UserAccess/Create" method="post">
            @{ List<Ref_UserAccesscs> usuarios = (List<Ref_UserAccesscs>)ViewBag.useraccess;}
            <div class="table-responsive">
                <table id="Guardado" class="table">
                    <tr>
                        <th>Empresa</th>
                        <th>Usuario</th>
                        <th>Sucursal</th>
                        <th>Puerta</th>
                        <th>Seleccione</th>
                    </tr>

                    @foreach (var usuario in usuarios)
                    {
                        List<Ref_UserAccesscs> chklst = new List<Ref_UserAccesscs>();
                        <tr>
                            <td name="chklst[]">@usuario.Id_Empresa</td>
                            <td name="chklst[]">@usuario.id_usuario</td>
                            <td name="chklst[]">@usuario.Desc_Sucursal</td>
                            <td name="chklst[]">@usuario.desc_access</td>
                            <td name="chklst[]">@Html.CheckBoxFor(x=> usuario.isChecked)</td>
                        </tr>

                    }
                </table>
                <div class="btnn">
                    <input type="submit" value="Asignar Accesos">
                </div>
            </div>
        </form>
    </div>

</body>
</html>
