@using AxonAccessMVC.Models.Clases;
@{
    ViewBag.Title = "Axonia";

}
<!DOCTYPE html>
<html>
<head>
    <link href="~/styles/css/style.css" rel='stylesheet' type='text/css' media="all">
    <link href="//fonts.googleapis.com/css?family=Saira+Condensed:400,500,600,700" rel="stylesheet">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>
<body>
    <div class="online-w3l-form">
        @{ List<Ref_UserAccesscs> usuarios = (List<Ref_UserAccesscs>)ViewBag.useraccess;}
        <div class="table-responsive">

            <button onClick="mensaje()">Botón 1</button>
            swal({
            title: "Good job!",
            text: "You clicked the button!",
            icon: "success",
            button: "Aww yiss!",
            });


            <table id="tablax" class="table" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>App_Paterno</th>
                        <th>App_Materno</th>
                        <th>Rut</th>
                        <th>Dv</th>
                        <th>Empresa</th>
                        <th>Otorgar Accesos</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var usuario in usuarios)
                    {

                        <tr>
                            <td>@usuario.id_usuario</td>
                            <td>@usuario.Nombre</td>
                            <td>@usuario.App_Pater</td>
                            <td>@usuario.App_Mater</td>
                            <td>@usuario.Rut</td>
                            <td>@usuario.Dv</td>
                            <td>@usuario.Desc_Empresa</td>
                            <td>@Html.ActionLink("Seleccionar", "Create", new { id = usuario.Id_Empresa, id_us = usuario.id_usuario })</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous">
    </script>
    <!-- DATATABLES -->
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js">
    </script>
    <!-- BOOTSTRAP -->
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js">
    </script>
    <script>
        $(document).ready(function () {
            $('#tablax').DataTable({
                language: {
                    processing: "Tratamiento en curso...",
                    search: "Buscar&nbsp;:",
                    lengthMenu: "Agrupar de _MENU_ items",
                    info: "Mostrando del item _START_ al _END_ de un total de _TOTAL_ items",
                    infoEmpty: "No existen datos.",
                    infoFiltered: "(filtrado de _MAX_ elementos en total)",
                    infoPostFix: "",
                    loadingRecords: "Cargando...",
                    zeroRecords: "No se encontraron datos con tu busqueda",
                    emptyTable: "No hay datos disponibles en la tabla.",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Ultimo"
                    },
                    aria: {
                        sortAscending: ": active para ordenar la columna en orden ascendente",
                        sortDescending: ": active para ordenar la columna en orden descendente"
                    }
                },
                scrollY: 400,
                lengthMenu: [[10, 20, 30, -1], [10, 20, 30, "All"]],
                search: 1000
            });
        });


    </script>
    <script type="text/javascript">
        document.querySelector(".boton.primario").addEventListener('click', function () {
            Swal.fire("Our First Alert", "With some body text and success icon!", "success");
        });
    </script>


    <script src="~/SwetAlert/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="~/SwetAlert/sweetAlert.js"></script>
</body>
</html>
